<div class="header">
  <h1 class="header__logo">netfixroulette</h1>
  <div class="header__content">
    <h3 class="search-block__title">Find your movie</h3>
    <search-input
      findText="Find"
      (inputSearchValue)="searchHeaderService.handleInput($event)" (submit)="lookForMovies()"
    >
    </search-input>
    <toggle class="header__toggle" [toggle]="searchHeaderService.searchToggle" (changed)="searchHeaderService.handleChangeSearchToggle($event)"></toggle>
  </div>
</div>

<!--  <toggle [toggle]="searchHeaderService.sortToggle" (changed)="searchHeaderService.handleChangeSortToggle($event)"></toggle>-->
