<div class="header">
  <div class="header__background-image"></div>
  <div class="container header__inner">
    <h1 class="header__logo">netfixroulette</h1>
    <div class="header__content">
      <h3 class="search-block__title">Find your movie</h3>
      <search-control
        findText="Find"
        (inputSearchValue)="searchControlsService.handleInput($event)" (submit)="lookForMovies()"
      >
      </search-control>
      <div class="header__toggle">
        <span class="header__toggle__title">Search by</span>
        <toggle [toggle]="searchControlsService.searchToggle" (changed)="searchControlsService.handleChangeSearchToggle($event)"></toggle>
      </div>
    </div>
  </div>
</div>
