<div class="header">
  <div class="header__background-image"></div>
  <div class="container header__inner">
    <div class="header__content">
      <logo></logo>
      <h3 class="search-block__title">Find your movie</h3>
      <search-control
        findText="Find"
        (inputSearch)="searchControlsService.handleInput($event)"
        (submit)="handleSearch()"
      >
      </search-control>
      <div class="header__toggle">
        <span class="header__toggle__title">Search by</span>
        <toggle
          [toggle]="searchControlsService.searchToggle"
          (changed)="searchControlsService.handleChangeSearchToggle($event)">
        </toggle>
      </div>
    </div>
  </div>
</div>
