.header {
  color: #fff;
  position: relative;
  overflow: hidden;
}

.header__background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://images.unsplash.com/flagged/photo-1563536314719-2e812e896f50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center;
  background-size: cover;
  filter: blur(4px);
  margin: -20px;
}

.header__background-image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .8;
}

.header__content {
  padding: 80px 100px 100px;
  position: relative;
}

.header__search-block {
  display: flex;
}

.search-block__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}

.header__toggle {
  margin-top: 20px;
  display: flex;
}

.header__toggle__title {
  font-size: 20px;
  font-weight: 300;
  margin-right: 20px;
  text-transform: uppercase;
}
