/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 Roboto, Arial;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.transform-scale {
  transform: scale(1.05);
}
